.login-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

    .center {
        margin: auto;
        width: 50%;
        border: 3px solid #00000014;
        padding: 10px;
        margin-top: 15%;
      }