<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" *ngIf="currentUser">
    <mat-toolbar class="side-nav-style">Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink='/createReport' routerLinkActive="active-list-item" *ngIf="adminRoles.indexOf(currentUser.role)>-1"><mat-icon>add_circle_outline
          </mat-icon>
          Create Report</a>
        <a mat-list-item routerLink='/viewReport' routerLinkActive="active-list-item"><mat-icon>dvr</mat-icon>View Report</a>
        <a mat-list-item routerLink='/reportStatus' routerLinkActive="active-list-item"><mat-icon>select_all</mat-icon>View Report Status</a>
        <a mat-list-item routerLink='/recentActivity' routerLinkActive="active-list-item"><mat-icon>equalizer</mat-icon>Recent Report Activity</a>
        <a mat-list-item (click)= "logout()"><mat-icon>keyboard_return</mat-icon>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>pearson-reports</span>
      
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
